ROS_DOMAIN_ID=
TOPIC_NAMESPACE=
MOBILE_BASE_INFLUXDB_URL=
MOBILE_BASE_INFLUXDB_ORGANIZATION=
MOBILE_BASE_INFLUXDB_BUCKET=
MOBILE_BASE_INFLUXDB_TOKEN=
MOBILE_BASE_OPENSEARCH_HOST=
MOBILE_BASE_OPENSEARCH_PORT=
MOBILE_BASE_OPENSEARCH_TLS=
MOBILE_BASE_OPENSEARCH_USERNAME=
MOBILE_BASE_OPENSEARCH_PASSWORD=
MOBILE_BASE_ROBOT_ID=
