<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mobile_base_ros2_control" params="
    name:=M1Hardware
    serial_port:=/dev/ttyUSB0
    baud_rate:=230400
    response_timeout_ms:=50
    left_driver_id:=2
    right_driver_id:=1
    gear_ratio:=20.0
    left_wheel_sign:=1
    right_wheel_sign:=-1
    motor_steps_per_rev:=10000.0
    max_motor_rpm:=3000.0">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>mobile_base_control/M1Hardware</plugin>
        <param name="serial_port">${serial_port}</param>
        <param name="baud_rate">${baud_rate}</param>
        <param name="response_timeout_ms">${response_timeout_ms}</param>
        <param name="left_driver_id">${left_driver_id}</param>
        <param name="right_driver_id">${right_driver_id}</param>
        <param name="gear_ratio">${gear_ratio}</param>
        <param name="left_wheel_sign">${left_wheel_sign}</param>
        <param name="right_wheel_sign">${right_wheel_sign}</param>
        <param name="motor_steps_per_rev">${motor_steps_per_rev}</param>
        <param name="max_motor_rpm">${max_motor_rpm}</param>
      </hardware>

      <joint name="driving_wheel_joint_L">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="driving_wheel_joint_R">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
